.product__container{
    max-width: 100%;
    padding-left: 20px;
       padding-right: 20px;

    @media screen and (min-width:768px){
       max-width: 768px; 
       padding-left: 32px;
       padding-right: 32px;
    }
    @media screen and (min-width:1200px){
       max-width: 1200px; 
       padding-left: 16px;
       padding-right: 16px;
    }
}
.product__label{
    margin-bottom: 12px;
font-weight: 800;
font-size: 18px;
line-height: calc(22/18);
text-align: center;
text-transform: uppercase;
color: #131313;
@media screen and (min-width:768px){
       font-size: 22px;
line-height: calc(27/22);
    }
    @media screen and (min-width:1200px){
       font-size: 30px;
line-height: calc(37/30);
    }
}
.product__title{
    margin-bottom: 40px;

    font-family: 'Seymour One';
font-size: 30px;
line-height: calc(38/30);
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #131313;
@media screen and (min-width:768px){
    margin-bottom: 80px;

       font-size: 34px;
line-height: calc(43/34);
    }
    @media screen and (min-width:1200px){
        margin-bottom: 120px;

       font-size: 36px;
line-height: calc(45/36);
    }
}
.product__list{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    @media screen and (min-width:768px){
        gap: 16px;
    }
    @media screen and (min-width:1200px){
        gap: 29px;
    }

}
.product__item{
   max-width: 280px;
   padding-left: 40px;
        padding-right: 40px;
        text-align: center;
   @media screen and (min-width:768px){
        max-width: 224px;
        padding-left: 12px;
        padding-right: 12px;
    }
    @media screen and (min-width:1200px){
        max-width: 370px;
        padding-left: 34px;
        padding-right: 34px;
    }
}
.product__item-green{
    position: relative;
    background-color: #AEC6A5;
}
.product__item-green::before{
    content: ' ';
    background-image: url(../../image/products/icelg@1x.jpg);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.product__item-yellow{
    background-color:#EFD478;
}
.product__item-pink{
    background-color:#D6936D;
}
.product__undertitle{
margin-top: 123px;
margin-bottom: 40px;

    font-weight: 700;
font-size: 20px;
line-height: calc(24/20);
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #131313;
@media screen and (min-width:768px){
    margin-top: 108px;
    

       font-size: 22px;
line-height: calc(27/22);
    }
    @media screen and (min-width:1200px){
        margin-top: 165px;
        margin-bottom: 66px;

       font-size: 30px;
line-height: calc(37/30);
    }
}
.product__text{
    font-size: 14px;
line-height: calc(28/16);
text-align: center;
letter-spacing: 0.04em;
color: #131313;
@media screen and (min-width:1200px){
margin-bottom: 50px;

    font-size: 16px;
}
}
